*.dat
*.exe
*.smx
*.inc
*.vscode
*.code-workspace
*.sql
*.sp
[Cc]compiled/
[Dd]esktop.ini
[Tt]humbs.db

# Excluded Files:

#Compiled Plugins

#Source Code
!tf2_trophies.sp
!tftrophies_example.sp

#Include Files
!tftrophies.inc